<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>grid</title>
	<link rel="stylesheet" href="grid.css">
</head>
<body>
	<ul class="grid grid-bordered" data-col="3" data-rowspace="8">
		<li>
			<a class="size50 bg-1">
				<i class="icon icon-contact-fill size30"></i>
			</a>
			<label>通讯录</label>
		</li>
		<li>
			<a class="size50 bg-2">
				<i class="icon icon-write-fill size30"></i>
			</a>
			<label>审批</label>
		</li>
		<li>
			<a class="size50 bg-3">
				<i class="icon icon-position-fill size30"></i>
			</a>
			<label>定位</label>
		</li>
		<li>
			<a class="size50 bg-4">
				<i class="icon icon-gear-fill size30"></i>
			</a>
			<label>设置</label>
		</li>
		<li>
			<a class="size50 bg-5">
				<i class="icon icon-folder-fill size30"></i>
			</a>
			<label>文档</label>
		</li>
		<li>
			<a class="size50 bg-6">
				<i class="icon icon-chartpie-fill size30"></i>
			</a>
			<label>数据分析</label>
		</li>
	</ul>
</body>
</html>