/*----------------grid.less(start)--------------*/
.grid {
  position: relative;
  list-style: none;
}

.grid:after {
  display: table;
  content: '';
  clear: both;
  zoom: 1;
}

.grid li {
  width: 33%;
  float: left;
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
    /*图标区域*/
    /*文字区域*/
}

.grid li > a {
  display: block;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  margin: 0px auto;
  background-size: cover;
  background-position: center;
}

.grid li > label {
  display: block;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
    /* font-size:12px; */
  min-height: 16px;
  color: #9e9e9e;
}

.grid li > a > img {
  max-width: 100%;
  max-height: 100%;
}

.grid.grid-radius8 > li > a {
  border-radius: 8px;
}

.grid.grid-bordered {
    /* border-width:0 0 1px 0;
          border-style:solid;
          
          border-color:@border; */
}

.grid.grid-bordered:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  height: 1px;
  width: 100%;
  display: block;
  -webkit-transform-origin: 50% 100%;
  background-color: #e7e7e7;
}

.grid.grid-bordered li {
  position: relative;
    /* border-style:solid;
              border-width:1px 1px 0 0;
              border-color:inherit; */
}

.grid.grid-bordered li:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
  width: 1px;
  height: 100%;
  display: block;
  -webkit-transform-origin: 100% 50%;
  background-color: #e7e7e7;
}

.grid.grid-bordered li:after {
  content: '';
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  height: 1px;
  width: 100%;
  display: block;
  -webkit-transform-origin: 50% 100%;
  background-color: #e7e7e7;
}

.grid.grid-bordered[data-rowspace="8"] li {
  padding-top: 8px;
  padding-bottom: 8px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .grid.grid-bordered:before {
    -webkit-transform: scaleY(0.5);
  }

  .grid.grid-bordered li:after {
    -webkit-transform: scaleY(0.5);
  }

  .grid.grid-bordered li:before {
    -webkit-transform: scaleX(0.5);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .grid.grid-bordered:before {
    -webkit-transform: scaleY(0.33);
  }

  .grid.grid-bordered li:after {
    -webkit-transform: scaleY(0.33);
  }

  .grid.grid-bordered li:before {
    -webkit-transform: scaleX(0.33);
  }
}

.grid[data-rowspace="8"] li {
  padding-top: 8px;
}

.grid[data-rowspace="8"] li:last-child {
  padding-bottom: 8px;
}

.grid[data-col="2"] li {
  width: 50%;
}

.grid[data-col="3"] li {
  width: 33.33%;
}

.grid[data-col="4"] li {
  width: 25%;
}

.grid[data-col="5"] li {
  width: 20%;
}
  /*----------------grid.less(end)----------------*/
.grid-photo li {
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(default.png);
}
/*----------------grid.less(end)----------------*/