<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>table</title>
	<link rel="stylesheet" href="table.css">
</head>
<body>
	<div class="table-box">
		<table class="table-striped" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <td>圈子名称</td>
                    <td>圈子创建人</td>
                    <td>圈子管理员</td>
                    <td>创建时间</td>
                    <td>成员人数</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>单身男女</td>
                    <td>张小明</td>
                    <td>admin</td>
                    <td>2016-10-28 16:25:43</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td>单身男女</td>
                    <td>张小明</td>
                    <td>admin</td>
                    <td>2016-10-28 16:25:43</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td>单身男女</td>
                    <td>张小明</td>
                    <td>admin</td>
                    <td>2016-10-28 16:25:43</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td>单身男女</td>
                    <td>张小明</td>
                    <td>admin</td>
                    <td>2016-10-28 16:25:43</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td>单身男女</td>
                    <td>张小明</td>
                    <td>admin</td>
                    <td>2016-10-28 16:25:43</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td>单身男女</td>
                    <td>张小明</td>
                    <td>admin</td>
                    <td>2016-10-28 16:25:43</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td>单身男女</td>
                    <td>张小明</td>
                    <td>admin</td>
                    <td>2016-10-28 16:25:43</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td>单身男女</td>
                    <td>张小明</td>
                    <td>admin</td>
                    <td>2016-10-28 16:25:43</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td>单身男女</td>
                    <td>张小明</td>
                    <td>admin</td>
                    <td>2016-10-28 16:25:43</td>
                    <td>78</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>