<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>titlebar</title>
	<link rel="stylesheet" href="titlebar.css">
</head>
<body>
    <div class="titlebar">
        <div class="titlebar-td titlebar-td-fit">
            <a class="titlebar-logo">
                <img src="logo.png" alt="烽火自服门户">
            </a>
            <span>南京烽火星空通信发展有限公司</span>
        </div>
        <div class="titlebar-td">
                <a class="titlebar-button">
                    <i class="icon icon-pu-change"></i>
                    <span>管理中心</span>
                </a>
                <a class="titlebar-button" style="border-width: 0 1px;">
                    <img src="profile.png" class="titlebar-icon" alt="王让剑">
                    <span>王让剑</span>
                </a>
                <a id="ID-BtnExit" class="titlebar-button" style="border-width: 0 1px 0 0;">
                    <i class="titlebar-icon icon icon-pu-exit"></i>
                </a>
        </div>
    </div>
</body>
</html>