/*固定头部表格*/
.fixTable{
  position: absolute;
  top:0;
  left: 0;
  right:0;
  bottom: 0;
  width: 100%;
  min-width: 600px;
  font-size: 13px;
  
  color:#1a1a1a;
}
.fixTable tr{
  height: 37px;
}
.fixTable td{
  border-left: 0 none;
  border-right: 0 none;
  border-style: solid;
  border-width: 0 1px 1px 0;
  padding:0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;

  border-color: #d9d9d9;
}
.fixTable-headContainer,.fixTable-bodyContainer{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
.fixTable-headTable,.fixTable-bodyTable{
  border-collapse: separate;
  display: table;
}
.fixTable-headContainer{
  top:0;
  overflow: hidden;

  background-color:#E8EAEB;
}
.fixTable-headContainerInner{
  width: 10000px;
}
.fixTable-headTable{
  
}
.fixTable-bodyContainer{
  bottom: 0;
  overflow: auto;
  background-color:white;
}
/*动态修改*/
.fixTable-headContainer{
  height: 37px;
}
.fixTable-bodyContainer{
  top:37px;
}
.fixTable-bodyTable{
  margin-top: -37px;
}
.fixTable-headTable,.fixTable-bodyTable{
  width: 100%;
}