<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>page</title>
	<link rel="stylesheet" href="page.css">
</head>
<body>
    <!--头部:start-->
	<div class="page-header">
        <div class="container">
            <div style="height: 50px;"></div>
        </div>
    </div>
    <!--头部:end-->

    <!--中部:start-->
    <div class="page-body">
        <div class="container" style="height: 100%;">
            <div class="page-side">
                <div style="width: 100px"></div>
            </div>
            <div class="page-main">
                <!-- <div style="display:block;position:absolute;top:0;left:0;right:0;height:100%;background-color: red;">内容区域</div> -->
                <!-- 内容区域 -->
            </div>
        </div>
    </div>
    <!--中部:end-->

    <!--底部:start-->
    <div class="page-footer">
        <div style="height: 50px;background-color:white;"></div>
    </div>
    <!--底部:end-->
</body>
</html>