<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>row</title>
	<link rel="stylesheet" href="row.css">
</head>
<body>
		<div class="row">
			<div class="col-md-4">设备状态设备状态设备状态设备状态设备状态设备状态：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="待监控" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">设备型号：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="Meizu m3 note" />
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">合规性：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="合规" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">分辨率：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="1080*1920" />
			</div>
		</div>

		<div class="row">
				
			<div class="col-md-4">设备平台：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="Android" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">序列号：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="Android" />
			</div>
		</div>

		<div class="row">
				
			<div class="col-md-4">操作系统：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="Android 5.1" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">UDID：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="Android 5.1" />
			</div>
		</div>

		<div class="row">
				
			<div class="col-md-4">设备归属：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="个人" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">ESN/IMEI：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="862255030712167" />
			</div>
		</div>

		<div class="row">
				
			<div class="col-md-4">电话号码：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="未知" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">存储容量：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="未知" />
			</div>
		</div>

		<div class="row">
				
			<div class="col-md-4">客户端版本：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="4.8.0" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">物理内存：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="未知" />
			</div>
		</div>

		<div class="row">
				
			<div class="col-md-4">设备签名：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="默认签名" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">SD卡状态：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="未知" />
			</div>
		</div>

		<div class="row">
				
			<div class="col-md-4">最后登录IP：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="192.168.137.207" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">最后采集时间：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="" />
			</div>
		</div>

		<div class="row">
				
			<div class="col-md-4">电源状态：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="未知" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">最后登录时间：</div>
			<div class="col-md-8">
				<input type="text" class="input-text" value="2016-10-27 17:05:55" />
			</div>
		</div>
</body>
</html>