<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>sidenav</title>
	<link rel="stylesheet" href="sidenav.css">
</head>
<body>
	<div class="sidenav-top">
        <i class="icon icon-pu-menu"></i>
    </div>
    <ul class="sidenav">
        <li>
            <a class="active">
                <i class="icon icon-pu-notification-announcement"></i>
                <span>通知公告</span>
            </a>
        </li>
        <li>
            <a>
                <span class="line"></span>
                <i class="icon icon-pu-my-application"></i>
                <span>我的应用</span>
            </a>
        </li>
        <li>
            <a>
                <span class="line"></span>
                <i class="icon icon-pu-circle"></i>
                <span>圈子应用</span>
            </a>
        </li>
        <li>
            <a>
                <span class="line"></span>
                <i class="icon icon-pu-my-equipment"></i>
                <span>我的设备</span>
            </a>
        </li>
        <li>
            <a>
                <span class="line"></span>
                <i class="icon icon-pu-my-settings"></i>
                <span>我的设置</span>
            </a>
        </li>
    </ul>
</body>
</html>